{% extends 'base.html' %}
{% block title %}Liste des Sites{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Ajouter un Site</h1>
        <form method="post" action="{% url 'add_site' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_name" class="form-label">Nom du Site</label>
                <input type="text" class="form-control" id="id_name" name="name" required>
            </div>

            <div class="mb-3">
                <label for="id_url" class="form-label">URL</label>
                <input type="url" class="form-control" id="id_url" name="url" required>
            </div>

            <div class="mb-3">
                <label for="id_username" class="form-label">Pseudo</label>
                <input type="text" class="form-control" id="id_username" name="username" required>
            </div>

            <div class="mb-3">
                <label for="id_password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="id_password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
        <a href="{% url 'site_list' %}" class="btn btn-secondary mt-3">Retour à la liste des sites</a>
    </div>
{% endblock %}