{% load static %}
<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Votre titre par défaut{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'password_manager/css/styles.css' %}">
</head>
<body>
    <!-- Ajoutez votre contenu commun ici -->
    <button id="darkModeToggle" class="btn btn-secondary position-fixed top-0 end-0 m-3">Dark Mode</button>
    <div>
        <h1>Bienvenue sur votre gestionnaire de mots de passe</h1>
        <!-- Ajoutez des éléments communs à toutes les pages ici -->
    </div>

    <!-- Ajoutez le bloc de contenu spécifique à chaque page -->
    <div>
        {% block content %}{% endblock %}
    </div>

    <!-- Ajoutez votre pied de page commun ici -->
    <div>
        <!-- Ajoutez des éléments communs à toutes les pages ici -->
    </div>
</body>
<script>
    document.getElementById('darkModeToggle').addEventListener('click', () => {
    console.log("oui")
    const currentTheme = document.documentElement.getAttribute('data-bs-theme');
    if (currentTheme === 'dark') {
        document.documentElement.setAttribute('data-bs-theme', 'light');
    } else {
        document.documentElement.setAttribute('data-bs-theme', 'dark');
    }
});

</script>
</html>
