{% extends 'base.html' %}
{% load static %}
<!-- password_manager/templates/password_manager/site_list.html -->
{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Liste des Sites</h2>
        {% for site in sites %}
            <div class="list-group">
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><a href="{{ site.url }}" class="mb-1">{{ site.name }}</a></h5>
                        <div>
                            <a href="{% url 'edit_site' site.id %}" class="btn btn-warning btn-sm me-2">Éditer</a>
                            <form method="post" action="{% url 'delete_site' site.id %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </div>
                    </div>
                    <p class="mb-1">Pseudo : {{ site.username }}</p>
                    <p class="mb-1">
                    <p id="id_password">Mot de passe : {{ site.password }}</p>
                </div>
            </div>
        {% endfor %}
        <a href="{% url 'add_site' %}" class="btn btn-primary mt-3">Ajouter un Site</a>
    </div>
{% endblock %}
